body {
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.top-header {
    height: 112px;
    background-color: rgba(0,0,0,0.5);
    position:absolute;
    top: 0;
    width: 100%; 
}

.col4 {
    width: 33.33%;
    float: left;
}

.col4 img {
    margin-top: 32px;
}

.main-nav {
    margin-top: 50px;
}

.main-nav ul{
    margin: 0;
    padding: 0;
}

.main-nav li {
    display: inline-block;
    margin-right: 30px;
}

.main-nav li:last-child{
    margin-right: 0;
}

.main-nav li a {
    font-size: 14px;
    color:white;
    text-decoration: none;
}

.main-nav li a:hover{
    color: #11b7b1;
}

.social-menus{
    margin-top: 10px;
}
.social-menus li{
    display: inline-block;
    margin-right: 30px;
    float: right;
    text-align: center;
    line-height: 20px;
}

.yt{
    margin-top: 5px;
}

#contact-area{
    background-image: url(../forcss/contactBg.jpg);
    background-size: cover;
    min-height: 675px;
    background-position: center;
    overflow: hidden;
}

#contact-area h1{
    color: white;
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 300;
    padding-top: 222px;
}

#contact-form h2{
    font-size: 30px;
    font-weight: 400;
    color: #11b7b1;

    
}


#contact-form{
    text-align: center;
    margin-top: 64px;
}